@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(250, 250, 210);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    font-size: 100px;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header p {
    font-family: var(--fonte1);
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    white-space: pre-line;
    line-height: 2em;
}

.normal {
}

.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.527);
    text-shadow: 1px 1px 1px black;
}

#img01 {
    background: black url('imagens/background001.jpg') center right/cover no-repeat fixed;
}

#img02 {
    background: black url('imagens/background002.jpg') center right/cover no-repeat fixed;
}

footer {
    font-family: var(--fonte1);
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: inset 0px 0px 8px 0px grey;
}